.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 70%
  &-2
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 10%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 60%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)
  100%
    transform: translateX(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.tabla-a.color-acento-botones thead
  border-color: #FED6A8
  border: 0px !important
.tabla-a th
  background-color: #FED6A8

.lista-ol--cuadro__vineta span
  color: $color-sistema-texto
  font-weight: bold

.bg
  &-c1
    background-image: url(../assets/curso/intro/img1.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
    margin-bottom: -48px
    @media screen and ( max-width: $bp-max-lg )
      margin-bottom: -23px

  &-c2
    background-color: #DDEFFD
  &-c3
    background-image: url(../assets/curso/tema1/img1.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
  &-c4
    background-color: #F2ECFD
  &-c5
    background-image: url(../assets/curso/tema3/img3.svg)
    background-repeat: repeat-x
    background-position: center
    @media screen and ( max-width: $bp-max-sm )
      background-repeat: repeat
  &-c6
    background-color: #F3F0EA
    border-radius: 15px
    height: 100%
  &-c7
    background-color: #F6F6F6
  &-c8
    background-color: #FEEAD4
    border-radius: 15px
  &-c9
    background-color: #FFF5EA
  &-c10
    background-color: #FEEAD4
  &-c11
    background-color: #E6DCFB

.txt
  &-p1
    text-align: right